html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: .15em;
    /*flex-direction: row;    /* this isn't meant to be here because it contains no flex property */
    font-size: 30px;
    /*justify-content: space-evenly;  /* so as this */
    
    overflow-x: hidden; /* to disable horizontal scroll */

}
@font-face {
    font-family: "Coolvetica";
    src: url('../font/coolveticarg.ttf') format('truetype')
}
.container {
    width: 100%;
    height:100%;
    padding: 0;
    margin: 0;
    font-family: 'Coolvetica';
}
.header {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
}
.nav-bar {
    width: 100%;
    height: 8%;
    margin: 0;
    padding: 0;
    display: inline;
    background-color: transparent;
}
.nav-bar .brand-name {
    top: 0;
    float: left;
    margin: 1rem;
}
.nav-bar .nav {
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 1rem;
}
.nav-bar .nav-link {
    margin: 0rem 1rem 0 1rem;
    padding: 5px;
    text-decoration: none;
    font-size: 19px;
    color: black ;
}
.jumbotron {
    width: 100%;
    height: 100vh;

    display: flex;  /* this is the flex property we're dealing with */
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
    margin: 0;
}
.left-grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.btn-primary {
    background-color: darkorchid;
    opacity: 5;
    border-color: transparent;
    border-radius: 5px;
    color: white;

}
.left-grid h2,
.left-grid p
{
    margin: .5rem 0;

}

.left-grid p {
    font-size: 30px;
    padding-top: 0;
}
.right-grid {
    display: flex;
}
.btn-primary {
    background-color: green;
    border-color: transparent;
    border-radius: 5px;
    margin: 0;

}
.btn-primary p {
    font-size: 18px;
    margin: 0;
} 
.btn-link {
    margin: 0;
}

.j-image {
    width: 400px;
    height: 400px;
    padding: 1px; /* to allow image fit properly */
    align-self: center; /* so image would stay center and be leveled with the text */ 
}
.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: aqua;
    overflow: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.side-nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #111;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #f65;
}
.side-nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    transition: margin-left .5s;
    padding: 20px;
}


.toggle-btn {
    display: none;
}
/* to hide button when in landscape mode */

@media  screen and (max-height: 450px){
    .side-nav {padding-top: 15px;}
    .side-nav a {font-size: 18px;} 
}

@media  only screen and (max-width: 1125px) { /* change this to 1125px as you made use of a larger font size in your brand name */
    .j-image {
        width: 250px;
        height: 250px;
    }
    .nav-bar .nav-link {
        display: none;
    }
    .toggle-btn {
        display: inline;
    }
    .jumbotron {
        flex-direction: column-reverse;
        align-items: center;
        padding: 0;
    }
    .btn-link {
        display: flex;
        justify-content: center;
        text-decoration: none;
        }
<<<<<<< HEAD

        /* remove this bad boy too */
=======
  
    }    /* remove this bad boy too */
>>>>>>> 929d07501006f07734d73c1592105e01ef83d878
    
    .left-grid{
        text-align: center;
        padding: 0;
    }
    .right-grid {
        text-align: center;
        padding: 0;
    }
}

@media  only screen and (max-width: 600px) {
    .j-image {
        width: 200px;
        height: 200px;
    }
    .btn-primary {
        text-align: center;
    }
}